*.pyc
*~
*/*/__init__.py
*/*/*/__init__.py
MEAnalysis/root/MEAnalysis*.root
MEStudiesJP/*
*.un~
*.orig
VHbbAnalysis
\#*\#
.DS_Store
._.DS_Store
*.root
*.csv
*.gz
__init__.py
*.log
/MEIntegratorStandalone
