*.pyc
*~
*/*/__init__.py
*/*/*/__init__.py
MEAnalysis/Loop_*
MEAnalysis/root/MEAnalysis*.root
MEStudiesJP/*
*.un~
*.orig
VHbbAnalysis
\#*\#
.DS_Store
._.DS_Store
*.root
*.csv
*.gz
__init__.py
*.log
/MEIntegratorStandalone
/MEAnalysis/gc/grid-control
Plotting/Datacard-2015-09-08-1834
MEAnalysis/crab_vhbb/cfg_*.py
MEAnalysis/crab_vhbb/crab_projects
MEAnalysis/gc/work*
Plotting/interface/categories.h
Plotting/interface/gen.h
Plotting/bin/categories.cc
Plotting/bin/gen.cc
CommonClassifier